
.header {
	/*border-style: solid;
	border-color: black;
	border-width: 1px*/
	width: 100%;
	margin: auto;
	padding: 10px 0px 0px 0px;
}

.header img {
	float: left;
	padding-right: 20px;
}

.header h1 {
	position: relative;
}